div.container {
    background-color: var(--prim-color);
    width: 100%;
    height: 100%;
}

h1.title {
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-left: 20px;
}