div.container {
    width: 100%;
    height: calc(100% - 150px);
    background-color: #F3F1EF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

div.language {
    width: 100%;
    padding: 7px;
    margin: 7px;
}

div.language label {
    margin-left: 10px;
    font-weight: 400;
    color: #50464B;
    font-size: 12px;
}

.languageSelect {
    accent-color: var(--prim-color);
}

div.optionBox {
    padding: 10px;
    margin: 10px;
    background-color: rgb(229, 226, 222);
    border-radius: 15px;
}

p.message {
    font-size: 12px;
    font-weight: 400;
    color: #746E6A;
}